*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 10px;
}

body {
    min-height: 100%;
    color:black;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

h1 {
    font-size: 3.1rem;
    font-weight: bold;
}

p {
    margin-top: 15px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

.container {
    min-height: 100vh;
    font-size: 2rem;
    display: grid;
    grid-template-areas: 
    "header header header header header"
    "sidebar main main main main";
    grid-template-columns: max-content 1fr;
    /* grid-template-columns: max-content repeat(5, 1fr) max-content; */
    grid-template-rows: auto 1fr;
}

header {
    grid-area: header;
    background-color: aquamarine;
    height: 50px;
}

.sidebar {
    grid-area: sidebar;
    background-color: aqua;
    padding: 10px 30px;
}

.main {
    grid-area: main;
    background-color: yellow;
}

footer {
    grid-area: footer;
    background-color: aqua;
    height: 50px;
}

.folders {
    color: red;
}